.info-section {
	padding: 56px 0 84px;
	position: relative;
	@media screen and (max-width: 820px) {
		padding: 30px 15px 40px;
	}
	.section_heading_h3 {
		@media screen and (max-width: 820px) {
			font-size: 1.1em;
		}
	}
	&_text {
		position: relative;
		@include z-index(main);
		text-align: center;
		max-width: 80%;
		margin: 0 auto;
		@media screen and (max-width: 820px) {
			max-width: 100%;
		}
	}
	&_link {
		font-weight: 600;
	}
}