.modal {
	@include flex-c-c;
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, .99);
	@include z-index(modal);
	display: none;
	&_close {
		@include flex-c-c;
		@include size(30px);
		border-radius: 50%;
		background: $black;
		color: $white;
		font-weight: 800;
		position: fixed;
		$position: 15px;
		top: $position;
		right: $position;
		cursor: pointer;
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
	&_body {
		max-width: 320px;
		width: 100%;
		height: 100%;
		background: $black;
		box-shadow: 2px 2px 5px rgba(255, 255, 255, .5), -2px -2px 5px rgba(255, 255, 255, .5);
		img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}