$mobile-top: 84px;
$brown-color: #46382E;
$brown-text: #473D30;
$green-color: #6EAA18;
$yellow-color: #E7A126;
$grey-color: #aeaeae;

$white: #fff;
$black: #000;

$header-shadow: 0 -2px 35px rgba(79, 76, 73, 0.3);

$container-padding: 35px;